<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link href="/stylesheets/style.css" rel="stylesheet">
   <title>Pour Me Another</title>
</head>

<body>

   <header class="h-14 py-15 text-left">
      <a class="text-salmon text-6xl pt-8 pb-8 font-sans" href="/">TAPP THAT.</a>
   </header>

   <div class="pt-3">
      <nav class="text-right pb-6">
         <a class="text-dark-grey border border-blue hover:bg-blue hover:text-white active:bg-blue font-bold uppercase px-4 py-1 rounded-full outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
            href="/">Home</a>
         <a class="text-dark-grey border border-blue hover:bg-blue hover:text-white active:bg-blue font-bold uppercase px-4 py-1 rounded-full outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
            href="/mybar">My Bar</a>
         <a id="logout-btn"
            class="text-dark-grey border border-blue hover:bg-blue hover:text-white active:bg-blue font-bold uppercase px-4 py-1 rounded-full outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
            href="/login">Logout</a>
         {{else}}
         <a class="text-dark-grey border border-blue hover:bg-blue hover:text-white active:bg-blue font-bold uppercase px-4 py-1 rounded-full outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
            href="/login">Login</a>
         <a class="text-dark-grey border border-blue hover:bg-blue hover:text-white active:bg-blue font-bold uppercase px-4 py-1 rounded-full outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
            href="/signup">Sign Up</a>
         {{/if}}
      </nav>
   </div>

   <main>
      {{{ body }}}
   </main>

   <footer>
      Drink responsibly. Post liberally.
   </footer>


   {{#if loggedIn}}
   <script src="/javascript/logout.js"></script>
   {{/if}}
</body>

</html>