
<div>
   <p class="text-sans text-4xl text-center pt-10 text-salmon text-bold">Complete Tap List:</p>
   <ol class="beverage-list columns-3 p-7 pt-10">
      {{#each beverages as |beverage|}}
      <li>
         {{> beverage-info beverage }}
      </li>
      {{/each}}
   </ol>
</div>

<div class="content-center">
   <h1 class="text-3xl text-center font-sans text-dark-grey text-bold">Thirsty?</h1>
   <p class="text-center font-sans text-blue pl-10 pr-10 pt-5 pb-5 text-l">
      Grab a seat at the bar, and check out what's on tap!
      Pour Me Another users like to let you know what they've
      been drinking. As a user, you can curate your own list
      of favorite beverages to stock your virtual bar. See a
      beverage on tap that you love? Smash that favorite button
      and it will automatically be added to your bar! Have a
      favorite drink you don't see on the list? Click on My Bar
      and you can add new beverages to our tap list. Once a new
      beverage is on tap, our community of users can get in on
      the fun by favoriting it and adding it to their own
      virtual bars.
   </p>
</div>
