<div>
   <p>Complete Tap List:</p>
   <ol class="beverage-list">
      {{#each beverages as |beverage|}}
      <li>
         {{> beverage-info beverage }}
      </li>
      {{/each}}
   </ol>
</div>

<div>
   <h1>Thirsty?</h1>
   <p>
      Grab a seat at the bar, and check out what's on tap!
      Pour Me Another users like to let you know what they've
      been drinking. As a user, you can curate your own list
      of favorite beverages to stock your virtual bar. See a
      beverage on tap that you love? Smash that favorite button
      and it will automatically be added to your bar! Have a
      favorite drink you don't see on the list? Click on My Bar
      and you can add new beverages to our tap list. Once a new
      beverage is on tap, our community of users can get in on
      the fun by favoriting it and adding it to their own
      virtual bars.
   </p>
</div>
