
<div>
   <p class="text-sans text-4xl text-center pt-10 text-salmon text-bold">WHAT'S ON TAPP:</p>
   <ol class="beverage-list columns-3 p-7 pt-10">
      {{#each beverages as |beverage|}}
      <li>
         {{> beverage-info beverage }}
      </li>
      {{/each}}
   </ol>
</div>

<div class="content-center">
   <h1 class="text-3xl text-center font-sans text-dark-grey text-bold">Thirsty?</h1>
   <p class="text-center font-sans text-blue pl-10 pr-10 pt-5 pb-5 text-l">
      Saddle up to the bar and check out what's on TAPP!
      TAPP THAT users like to let you know what they've
      been drinking - they also like to comment on what everyone
      else is drinking! TAPP THAT users can add new drinks
      to the TAPP LIST. From there, any of our users can comment
      on or favorite a drink. So sign up and answer the question,
      WOULD YOU TAPP THAT?
   </p>
</div>
