<div class="relative flex flex-col justify-center overflow-hidden">
   <div class="w-full p-6 m-auto bg-white rounded shadow-lg lg:max-w-md">
      <h1 class="text-3xl font-semibold text-center text-metal">Log In to Get Pouring!</h1>
      <form id="login-form" class="login-page mt-3">
         <div>
            <label for="email-login" class="block text-lg text-salmon">email:</label>
            <input type="text" id="email-login" class="block w-full px-4 py-2 mt-2 text-tahiti border rounded-md" />
         </div>
         <div>
            <label for="password-login" class="block text-lg text-salmon">password:</label>
            <input type="password" id="password-login"
               class="block w-full px-4 py-w mt-2 text-salmon border rounded-md" />
         </div>
         <div class="pt-2">
            <button id="login-btn" type="submit"
               class="text-dark-grey border border-light-grey hover:bg-dark-grey hover:text-light-grey bg-tan font-bold uppercase px-4 py-1 rounded outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150">login</button>
         </div>
      </form>
      <p>
         First timer? <a href="/signup">Sign Up!</a>
      </p>
   </div>
</div>

{{!--{{NEEDS TO STAY AT THE BOTTOM}}--}}
<script src="/javascript/login.js"></script>