<div class="columns-2">
   <div class=" p-5">
      <section class=" max-w-sm rounded overflow-hidden shadow-lg pl-5">
         <h2 class="font-bold text-xl mb-2">Add a beverage to our Tap List</h2>
         <form class="new-beverage-form">
            <div>
               <label for="beverage-name" class="font-bold text-l mb-2 text-dark-grey">Beverage Name</label>
               <input type="text" id="beverage-name" name="beverage-name"
                  class="block w-full px-4 py-w mt-2 text-salmon border rounded-md" />
            </div>
            <div>
               <label for="beverage-type" class="font-bold text-l mb-2 text-dark-grey">Beverage Type</label>
               <input id="beverage-type" name="beverage-type"
                  class="block w-full px-4 py-w mt-2 text-salmon border rounded-md" />
            </div>
            <button type="submit"
               class="text-dark-grey border border-light-grey hover:bg-dark-grey hover:text-light-grey bg-tan font-bold uppercase px-4 py-1 rounded outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150">Pour
               One Up!</button>
         </form>
      </section>
   </div>

   {{#if beverages.length}}

   <div>
      <section class="max-w-sm rounded overflow-hidden shadow-lg pl-5 pt-12">
         <h2 class="font-bold text-xl mb-2 text-dark-blue">{{username}}'s Bar</h2>
         <ol class="font-bold text-l mb-2 text-blue">
            {{#each beverages as |beverage|}}
            <li class="font-bold text-md mb-2 text-blue">
               {{> beverage-info beverage}}
            </li>
            {{/each}}
         </ol>
      </section>
   </div>
</div>
{{/if}}


<script src="/javascript/add-beverage.js"></script>
<script src="/javascript/logout.js"></script>