<div class="relative flex flex-col justify-center overflow-hidden">
   <div class="w-full p-6 m-auto bg-white rounded shadow-lg lg:max-w-md">
      <form id="signup-form" class="signup-form mt-3">
         <div>
            <label for="username-signup" class="block text-lg text-salmon">username</label>
            <input type="text" id="username-signup" class="block w-full px-4 py-2 mt-2 text-tahiti border rounded-md" />
         </div>
         <div>
            <label for="email-signup" class="block text-lg text-salmon">email:</label>
            <input type="text" id="email-signup" class="block w-full px-4 py-2 mt-2 text-tahiti border rounded-md" />
         </div>
         <div>
            <label for="password-signup" class="block text-lg text-salmon">password:</label>
            <input type="text" id="password-signup" class="block w-full px-4 py-2 mt-2 text-tahiti border rounded-md" />
         </div>
         <div class="pt-2">
            <button id="signup-btn" type="submit"
               class="text-dark-grey border border-light-grey hover:bg-dark-grey hover:text-light-grey bg-tan font-bold uppercase px-4 py-1 rounded outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150">signup</button>
         </div>
      </form>
      <p>Been here before? <a href="/login">Login!</a></p>
   </div>
</div>


{{!--{{NEEDS TO STAY AT THE BOTTOM}}--}}
<script src="/javascript/signup.js"></script>