<!-- List of ALL beverages -->
<div>
   <ol class="beverage-list">
   {{#each beverages as |beverage| }}
   <li>
      {{> beverage-info beverage }}
   </li>
   {{/each}}
</ol>
</div>

<!-- Individual beverage as clicked on by user -->
<div>
   {{> beverage-info beverage }}
   <div>
      <button type="button" class="favorite-btn">Favorite</button>
   </div>
</div>


<script src="/javascript/favorite.js"></script>