{{> beverage-info beverage}}

{{#if loggedIn}}
<form class="review-form">
  <div>
    <textarea name="review-body"></textarea>
  </div>

  <div>
    <button type="submit">add review</button>
    <button type="button" class="favorite-btn text-blue border border-blue hover:bg-blue hover:text-white active:bg-blue font-bold uppercase px-4 py-1 rounded-full outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150">
       favorite</button>
  </div>
</form>
{{/if}}

{{> reviews beverage.reviews}}

{{#if loggedIn}}
<script src="/javascript/review.js"></script>
<script src="/javascript/favorite.js"></script>
{{/if}}
