<article class="beverage">
   <div class="beverage-name">
      {{beverage.beverage_name}}
   </div>
   <div class="beverage-details">
      {{beverage.beverage_type}}, {{beverage.favorite_count}} users love this {{beverage.beverage_type}}!
   </div>
</article>
<div>
    <button type="button" class="favorite-btn">Favorite</button>
  </div>

  <script src="/javascript/favorite.js"></script>